body {
  padding: 10px;
}

.row {
  margin: 10px;
}

.login-page {
  width: 50%;
}

.meetups li {
  display: flex;
  justify-content: space-between;
}

.meetups {
  margin: 2px 10px 1px 0;
  text-align: center;
}

.meetups span:hover {
  color: #555454;
  cursor: pointer;
}

.meetups h6:hover {
  color: #555454;
  cursor: pointer;
}

.meetups input {
  border: none;
  max-width: 100px;
}
 .details{
   display: flex;
   flex-direction: row;
   justify-content:space-around
 }